<div class="container">
  <div class="form-container">
    <form class="col s12" action="/admin/tags/{{tag.slug}}/edit" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" name="title" class="validate" value="{{tag.title}}">
          <label for="title">Tag</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Save Tag
          <i class="material-icons right">send</i>
        </button>
        <a href="/admin/tags/{{tag.slug}}/delete" class="btn waves-effect waves-light" name="action">Delete Tag
          <i class="material-icons right">delete</i>
        </a>
      </div>
    </form>
  </div>
</div>
