<div class="container">

  <div class="tags-container">
    {{#each tags}}
      <div class="tag-container">
        <div class="chip blue-grey lighten-4">
          {{this.title}}
          <i class="edit material-icons"><a href="/admin/tags/{{this.slug}}/edit">edit</a></i>
        </div>
      </div>
    {{/each}}
  </div>

</div>
