<div class="container">
  <div class="form-container">
    <form class="col s12" action="/admin/tags/new" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" name="title">
          <label for="title">Tag</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Add Tag
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
