<div class="container">

  <ul class="collection">
    {{#each seasonArray}}
      <li class="collection-item"><a href="/admin/episodes/season/{{this}}">Season {{this}}</a></li>
    {{/each}}
  </ul>

</div>
