<div class="container">
  {{explainerText}}

  <h4>A few options:</h4>

  <ul>
    <li><a href="/random-episode">Get a random episode</a></li>
    <li><a href="/random-video">Get a random video</a></li>
    <li><a href="/">Back to the home page</a></li>
  </ul>
</div>
