body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
nav, footer.page-footer {
  background: #AAAAAA;
}
footer.page-footer {
  padding: 10px 0;
}
footer.page-footer span {
  color: white;
}
.season-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.season-checkbox {
  padding: 0 10px;
}
.button-container {
  margin-top: 20px;
}
.episode-title {
  text-transform: capitalize;
}
.img-container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}
.img-preview {
  width: 100%;
}
.episode-buttons {
  margin: 20px 0;
}
.episode-buttons a, .button-container .btn {
  margin-bottom: 10px;
}
