body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 3.3rem;
  font-weight: 500;
}
main {
  flex: 1 0 auto;
}
nav .brand-logo {
  font-size: 1.7em;
}
.button-container {
  margin-top: 20px;
}
footer.page-footer {
  padding: 10px 0;
}
footer.page-footer span {
  color: white;
}
.season-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.season-checkbox {
  padding: 0 10px;
}
.button-container {
  margin-top: 20px;
}
.episode-title {
  text-transform: capitalize;
}
.img-wrapper {
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}
.form-img-container {
  margin-bottom: 20px;
}
.img-container {
  background-color: #E6E6E6;
  padding-bottom: 56.25%;
  background-size: 100%;
}
.episode-info-container {
  max-width: 550px;
  margin: 15px auto 0;
  font-size: 14px;
}
.episode-info-container .left {
  font-weight: bold;
}
td.left {
  font-weight: bold;
}
td {
  padding: 10px 5px;
}
.summary-container {
  max-width: 550px;
  margin: 0 auto;
  font-size: 16px;
}
.edit-button-container {
  margin-top: 10px;
}
.episode-buttons {
  margin: 20px 0;
}
.episode-buttons a, .button-container .btn {
  margin-bottom: 10px;
}
.form-container {
  max-width: 600px;
  margin: 0 auto;
}
.youtube-container {
  max-width: 540px;
  margin: 0 auto;
}
.toast {
  background-color: #ee6e73;
}
.table-container {
  max-width: 700px;
  margin: 10px auto;
}
.chip {
  font-size: 14px;
  font-weight: bold;
}
.chip i {
  font-size: 16px;
}
#mobile-watch-link {
  display: none;
}
.side-nav li a.collapsible-header {
  font-weight: bold;
}
.suggested-span:first-child {
  border-right: 1px solid black;
  padding-right: 10px;
}
.suggested-span:last-child {
  padding-left: 10px;
}
.tag-row {
  height: 94px;
}
@media (max-width: 992px) {
  .header-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mobile-container {
    width: 100%;
  }
  .episode-info-container {
    max-width: 400px;
  }
}
