<div class="container">

  <div class="intro-text">

    <p class="center-align">Get a random episode of Seinfeld to watch.</p>

    <hr>
  </div>

  <div class="">
    {{>episode_form}}
  </div>

</div>
