<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random Seinfeld - Choose a Random Seinfeld Episode to Watch on Hulu</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>meta}}
  </head>

  <body>
    {{> header}}

    <main>
      {{{body}}}
    </main>

    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="js/ls.unveilhooks.min.js"></script>
    <script src="js/script.js" async=""></script>

    <script src="js/analytics.js"></script>

  </body>

</html>
