<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random Seinfeld - Choose a Random Seinfeld Episode to Watch on Hulu</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/youtube.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>meta}}
  </head>

  <body>

    <header>
      {{> header}}
    </header>

    <main>
      <div class="messages">
      </div>
      <div class="container title-container">
        <h1 class="center-align">{{pageTitle}}</h1>
      </div>
      {{{body}}}
    </main>

    <footer class="page-footer blue-grey lighten-1 {{#if user}}admin-offset{{/if}}">
      {{>footer}}
    </footer>

    <script src="/js/plugins/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- <script src="/js/plugins/materialize.js"></script> -->
    <script src="/js/plugins/lazysizes.min.js"></script>
    <script src="/js/plugins/ls.unveilhooks.min.js"></script>
    <script src="/js/plugins/analytics.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/autocomplete.js"></script>
    <script src="/js/youtube.js"></script>

    {{#each errorMessages}}
      <script>Materialize.toast("{{this}}", 4000, 'red darken-1')</script>
    {{/each}}

    {{#each successMessages}}
      <script>Materialize.toast("{{this}}", 4000, 'blue accent-1')</script>
    {{/each}}


  </body>

</html>
