<div class="container">

  <h4>Episodes</h4>
    <ul>
      <li><a href="/admin/episodes">View/Edit Episodes</a></li>
    </ul>

  <h4>YouTube Videos</h4>
    <ul>
      <li><a href="/admin/videos">View/Edit YouTube Videos</a></li>
      <li><a href="/admin/videos/new">Add YouTube Video</a></li>
    </ul>

  <h4>Tags</h4>
    <ul>
      <li><a href="/admin/tags">View/Edit Tags</a></li>
      <li><a href="/admin/tags/new">Add Tag</a></li>
    </ul>

  <h4>Suggested Videos</h4>
    <ul>
      <li><a href="/admin/suggested-videos">View/Edit Suggestions</a></li>
    </ul>
</div>
