<div class="container">
  <h3 class="center-align">Admin Console</h3>

  <h4>Episodes</h4>
    <ul>
      <li><a href="/admin/episodes">View/Edit Episodes</a></li>
    </ul>

  <h4>YouTube Videos</h4>
    <ul>
      <li><a href="/admin/videos">View/Edit YouTube Videos</a></li>
      <li><a href="/admin/videos/new">Add YouTube Video</a></li>
    </ul>
</div>
