<form action="/randomEpisode" method="get">
  <p class="center-align">Select your season(s) below. If you don't select one, the search defaults to all seasons.</p>
  <div class="season-checkbox-container">
    {{#each seasonArray}}
      <div class="season-checkbox">
        <input class="one-season-checkbox" type="checkbox" id="season_{{this}}" {{#ifIn this ../seasons}}checked{{/ifIn}} name="s[]" value="{{this}}"/>
        <label for="season_{{this}}">{{this}}</label>
      </div>
    {{/each}}
  </div>
  <div class="button-container center-align">
    <button class="waves-effect waves-light btn" id="clear-seasons">clear seasons</button>
    <button class="waves-effect waves-light btn">get episode</button>
  </div>
</form>
