<form action="/randomEpisode" method="get">
  <p class="center-align">Select your season below. If you don't select one, the search defaults to all seasons.</p>
  <div class="season-radio-container">
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_1" name="season" value="1"/>
      <label for="season_1">1</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_2" name="season" value="2"/>
      <label for="season_2">2</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_3" name="season" value="3"/>
      <label for="season_3">3</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_4" name="season" value="4"/>
      <label for="season_4">4</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_5" name="season" value="5"/>
      <label for="season_5">5</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_6" name="season" value="6"/>
      <label for="season_6">6</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_7" name="season" value="7"/>
      <label for="season_7">7</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_8" name="season" value="8"/>
      <label for="season_8">8</label>
    </div>
    <div class="season-radio">
      <input class="one-season-radio" type="radio" id="season_9" name="season" value="9"/>
      <label for="season_9">9</label>
    </div>
  </div>
  <div class="button-container center-align">
    <button class="waves-effect waves-light btn">Get Episode</button>
  </div>
</form>
