<div class="container">
  <span class="left">The master of this domain is <a href="http://pauldoulatshahi.com">Paul Doulatshahi</a>.</span>
  <span class="right">Built because <a href="http://http://www.hulu.com/seinfeld" target="_blank">Hulu</a> doesn't have a "random episode" button.</span>
</div>
