<div class="youtube-container center-align">

  <div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/{{this.youTubeId}}" frameborder="0" allowfullscreen</iframe>
  </div>

  <div class="row center-align edit-button-container">
    <a href="/admin/videos/{{this._id}}/edit" class="btn waves-effect waves-light">Edit Video
      <i class="material-icons right">edit</i>
    </a>
  </div>

  <hr>

</div>
