<div class="youtube-container center-align">

  <div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/{{this.youTubeId}}" frameborder="0" allowfullscreen</iframe>
  </div>

</div>
