<div class="container">

  <h3 class="center-align">Suggest a Video Clip</h3>

  <div class="center-align">
    <p>Is there a YouTube video that we're missing? Go ahead and submit it below.</p>
  </div>

  <div class="form-container">
    <form class="col s12" action="/suggest-video/" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="youtube_url" type="text" name="youtube_url" class="validate">
          <label for="youtube_url">YouTube URL</label>
        </div>
      </div>
      <div class="row">
        <p>Add any additional information about the clip below.</p>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="details" name="details" class="materialize-textarea"></textarea>
          <label for="details">Details</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit Video
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
